# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# --- Environnements virtuels ---
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# --- Visual Studio ---
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
pyproj.user
.vscode

#---Autres documents---
*.log
*.csv
*.xlsx